{% extends './base.html' %}


{% block title %}Administrar{% endblock %}

{% block customCSS %}{% endblock %}

{% block body %}
<div class="fles-fill">
    <div class="main-content">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-12">
                    <div class="images">
                        <img src="{{ url_for('static', filename='img/EPN_logo_big.png') }}" alt="Imagen 1">
                        <img src="{{ url_for('static', filename='img/AEIE_logo.png') }}" alt="Imagen 2">
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="content">
                <h1>Lista de Dispositivos</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Alias</th>
                            <th>Nombre</th>
                            <th>Mac</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dispositivo in guardados %}
                        <tr>
                            <td>{{ dispositivo.id }}</td>
                            <td>{{ dispositivo.alias }}</td>
                            <td>{{ dispositivo.name }}</td>
                            <td>{{ dispositivo.dir_mac }}</td>
                            <td>
                                <a href="{{ url_for('eliminarDisp', mac=dispositivo.dir_mac) }}"
                                    class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        <br>
        <div class="container mt-4">
            <div class="content">
                <h1>Dispositivos Detectados</h1>
                <!-- Código para mostrar mensajes flash -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ messages[0] }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                {% endwith %}
                <br>
                <button type="button" id="detectar2" class="btn btn-warning">Detectar</button>
                <br><br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Mac</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dispositivo in dispositivos %}
                        <tr>
                            <td>{{ dispositivo.id }}</td>
                            <td>{{ dispositivo.nombre }}</td>
                            <td>{{ dispositivo.mac }}</td>
                            <td>
                                <button class="btn btn-success" id="btn-edit{{ dispositivo.id }}" data-bs-toggle="modal"
                                    data-bs-target="#modal{{ dispositivo.id }}">Agregar</button>
                            </td>
                        </tr>
                        <!-- Modal -->
                        <div class="modal fade" id="modal{{ dispositivo.id }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Agregar Dispositivo</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/agregar" method="post">
                                            <div class="mb-3">
                                                <label for="alias" class="form-label">Alias:</label>
                                                <input type="text" class="form-control" id="alias" name="alias"
                                                    required>
                                            </div>
                                            <input type="hidden" name="nombre" value="{{ dispositivo.nombre }}">
                                            <input type="hidden" name="mac" value="{{ dispositivo.mac }}">
                                            <input type="hidden" name="dispos" value="{{ guardados }}">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                        <button type="submit" id="guardarDispositivo" class="btn btn-primary">
                                            Guardar Dispositivo
                                        </button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

{% endblock %}